.info {
    display: flex;
    align-items: center;
    gap: 3rem;

    /* если после блока info идёт другой блок info, то добавить отступ сверху 160px у 2*/
    + .info {
        margin-top: 16rem;
    }
}

.info--reviews {
    padding: 0 11.5rem;
}

.info-col {
    flex: 0 1 50%;
}

.info-photo {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.info-title {
    margin-bottom: 3rem;
    font-size: 6.4rem;
    color: var(--primary);
    line-height: 1.1;
    font-weight: 800;
    letter-spacing: var(--letter-spacing);
}

.info-title--light {
    /* При помощи rgba делаем прозрачным цвет текста
    color: rgba(255, 255, 255, 0.6);*/
    /* Или */
    color: var(--light);
    opacity: 0.6;
    /* В этом случае визуально результат будет тот же, но прозрачным мы делаем уже текст */
}

.info-text {
    margin-bottom: 6rem;
    
    font-size: 2rem;
    color: var(--gray-text);
    line-height: 1.8;
}